{{!-- <h1>Hello World!</h1>
<div>
    {{#each posts}}
    <a href = "/post/{{id}}"><h3>{{title}}</h3></a>
    {{/each}}
</div> --}}




<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<section class="container-fluid text-center ">
<div class=" card row mb-4" style="width: 18rem;">
  <div>
    <h2 class = card-title>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <p>Created by: {{user.id}} </p>
  </div>
</div>
</section>
{{/each}}


{{!-- on {{format_date project.date_created}} --}}